.wi-day-sunny {
	color:rgb(255, 215, 5);
}

.wi-day-cloudy {
	color:rgb(100, 169, 243);
}

.wi-cloudy {
	color:rgb(184, 184, 184);
}

.wi-rain-mix {
color:rgb(170, 170, 170);
}

.wi-hail  {
color:rgb(180, 180, 180);
}

.wi-rain {
color:rgb(190, 190, 190);
}